/* css reset | yojeero */
*,*::before,*::after{box-sizing:border-box}*{margin:0}html,body{height:100%}body{line-height:1.5;min-height:100vh}img,picture,video,canvas,svg{display:block;max-width:100%}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}input,button,textarea,select{font:inherit}ul[role='list'],ol[role='list']{list-style:none}a{cursor:pointer;text-decoration:none;border:0;background:transparent}a:active,a:focus,a:hover{outline-width:0}

/* 	main  */

    body
{
    font-family: Jost, system-ui;
    font-size: 1rem;
    font-weight: 300;

    line-height: 2rem;

    color: #343434;

    background: #f4f5f3
}

    .page
{
    display: grid;

    width: 100%;
    height: 100vh;

    grid-template-columns: 60% 40%;
    grid-template-areas: 'main sidebar'
}

    .main
{
    display: grid;

    width: 100%;
    height: 100vh;

    /* justify-content: space-around;  */

    border-right: 8px solid #f4f5f3;

    background: url(../img/bg.webp) no-repeat 50% 50% fixed;
    background-size: cover;

    grid-area: main
}

    .about
{
    display: grid;

    margin: 0 0 5rem 3rem;

    text-align: left;

    grid-template-columns: 300px max-content;

    align-content: end;
    place-items: center
}

    .about img
{
    width: 200px;
    height: 200px;

    border-radius: 50%;
    background: no-repeat center;

    object-fit: cover
}

    .me-info
{
    font-variant: small-caps;

    display: grid;

    color: #343434
}

    .title { font-size: 2.5rem }

    .about-me
{
    font-size: 1rem;
    font-weight: 400;

    letter-spacing: .04rem
}

    .copyright
{
    font-size: .875rem;
    font-weight: 400;

    line-height: 2rem;

    letter-spacing: .04rem;

    color: #343434
}

    .copyright a
{
    font-size: .875rem;

    text-decoration: none;

    color: #74b4d0
}

    .copyright a:hover,
    .copyright a:focus
{
    padding: 2px 10px 6px;

    cursor: pointer;

    transition: all .3s;
    transform: scale(.1, 1);

    color: #fff;
    border: none;
    border-radius: 45px;
    outline: none;
    background: #02c6ba;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .1)
}

/* 	side  */

    .sidebar
{
    display: grid;

    width: 100%;
    height: 100vh;

    background: #fff;

    grid-area: sidebar
}

    .txt-card
{
    font-size: 1.2rem;

    display: grid;

    width: 100%;
    height: 43vh;

    padding: 2rem;

    align-content: center;

    order: 1
}

    .txt-card div
{
    overflow: hidden;

    margin-top: .75rem;  
    margin-bottom: .75rem  
}

    .txt-card a { color: #74b4d0}

    .txt-card a:hover,
    .txt-card a:focus
{
    font-size: 1rem;

    padding: 6px 14px;

    cursor: pointer;

    transition: all .3s;
    transform: scale(.1, 1);

    color: #fff;
    border-radius: 45px;
    background: #02c6ba;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1)
}

    .txt-label
{
    font-size: 1.4rem;
    font-variant: small-caps;

    line-height: 4rem;

    display: grid;

    width: 100%;
    height: 7vh;

    padding-left: 2.4rem;

    letter-spacing: .07rem;

    color: #bfc0bf;
    background: #f4f5f3;
    text-shadow: 0 1px 1px #fff;

    order: 2
}

    .shot
{
    display: grid;

    width: 100%;
    height: 30vh;

    user-select: none;

    order: 3
}

    .shot img
{
    width: 100%;
    height: 30vh;

    object-fit: cover
}

/*  radio player   */

    .player
{
    display: grid;

    width: 100%;
    height: 20vh;

    text-align: right;

    background: #c7cbb6;

    place-items: center;
    grid-template-columns: auto auto;
    order: 4
}

    .audio-icon
{
    display: grid;

    align-items: center
}

    svg.audio
{
    display: grid;

    width: 3.75rem;
    height: 3.75rem;

    cursor: pointer;

    transition: .3s;

    align-items: center;
    stroke: currentColor;
    stroke-width: 0;
    fill: #f4f5f3
}

    svg.audio:hover
{
    width: 4rem;
    height: 4rem;

    fill: #e6ecec
}

    svg.hide-play { display: none }

    .audio-info
{
    display: grid;

    width: 60%;

    color: #fff;

    align-items: stretch
}

    .audio-info div
{
    font-variant: small-caps;

    margin: 0;
    padding: 0;

    text-align: right;
    letter-spacing: .07rem
}

    .track { font-size: 1.6rem } 
    .track-data { font-size: 1.1rem }

/* 	device	*/

	@media ( max-width: 1024px )

{

  .page
{
    grid-template-columns: 1fr;
    grid-template-areas: 
    'main'
    'sidebar'
}

    .main
{
    display: grid;

    width: 100%;

    border-right: none;

    order: 1
}

    .about
{
    display: grid;

    width: 100%;
    height: 100vh;

    margin: 0;

    grid-template-columns: auto;
    align-content: center
}

    .me-info
{
    display: grid;

    text-align: center
}

    .sidebar
{
    display: grid;

    width: 100%;

    order: 2
}

    .txt-card { padding: 2rem }

	.player { padding: 2rem }
    
}

/* 	loader	*/

    .loader
{
    display : flex;    
    align-items : center;
    justify-content : center;

    position : absolute;
    z-index : 9999;
    top : 0;
    right : 0;
    bottom : 0;
    left : 0;

    margin : auto;

    background: rgba(209, 204, 192, .9)
}

	.scanner 
{
    font-size: 1.4rem;

    position: relative;

    overflow: hidden;

    color: #84817a
}

	.scanner::before
{
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 0;
    height: 100%;

    content: 'Loading...';
    animation: load 2s linear infinite;

    color: white;
    border-right: 4px solid #f1f2f6
}

 @keyframes load {0%, 10%, 100% {width: 0; } 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {border-right-color: transparent; } 11%, 21%, 31%, 41%, 51%, 61%, 71%, 81%, 91% {border-right-color: white; } 60%, 80% {width: 100%; } }
