/* css reset | @yojeero | https://github.com/yojeero */

**, *::before, *::after {box-sizing: border-box} * {margin: 0} 
html, body{font-size: 62.5%; height: 100%}

img, picture, video, canvas {display: block; max-width: 100%}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word}
input, button, textarea, select {font: inherit}
ul[role='list'], ol[role='list'] {list-style: none}
a {cursor: pointer; text-decoration: none; border: 0; background: transparent}
a:active, a:focus, a:hover {outline-width: 0}  

/* style  */

:root 
{
  --color-bg: #fff; 

  --color-loader : #84817a ;
  --color-loader-bg : rgba(209, 204, 192, .9) ;

  --color-text: #343434; 
  --color-white: #fff;

  --color-link: #74b4d0;
  --color-hover: #45d9db;

  --color-label: #ebddbe;

  --color-player-bg: #124559;
  --color-player: #ae8f37;  
  --color-player-hover: #c7a64d; 
  --color-player-time: #608e9f;  
  --color-player-info: #d1b76f;  

  --color-shadow: rgba(0, 0, 0, .2);

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/*  main  */

body
{
    font-family : Jost, var(--font-family);
    font-size : 1.6rem;
    font-weight : 300;
    line-height : 1.6;

    margin : 0;
    padding : 0;

    color : var(--color-text);
    background : var(--color-bg)
}

.page
{
    display : grid;

    width : 100%;
    max-width : 1920px;
    height : 100%;
    min-height : 100vh;
    max-height : 1080px;

    margin : auto;

    grid-template-areas : 'main sidebar';
    grid-template-columns : 2fr 1fr;
    place-items : center
}

.main
{
    display : grid;

    width : 100%;
    /*height : 100vh;*/    
    height: auto;
    min-height: 100vh;
    max-height : 1080px;
    
    background : url(../img/bg.svg) no-repeat center;
   /* background-size: cover; */
    background-size: 100% calc(max(100vh, 100%));
  
    grid-area : main
}

.about
{
    display : grid;

    margin : 0 0 8em 8em;

    grid-template-rows : 220px max-content;

    align-self : end;    
    justify-items : start
}

.about img
{
    width : 200px;
    height : 200px;

    border-radius : 50%;

    object-fit : cover
}

.about div
{
    margin-left : 2em;
    padding : 0 2rem 0 2rem;

    border-radius : 3px
}

.about a
{
    font-size : 2rem;
    font-weight : 400;
    font-variant : small-caps;

    letter-spacing : .2rem;

    color : var(--color-white)
}

.name
{
    background-color : var(--color-hover)
}

.name:hover , .name:focus
{
    transition : all .3s;

    color : var(--color-white);
    border : none;
    outline : none;
    background : var(--color-link)
}

.skill
{
    margin : 4px 0 4px;

    background-color : var(--color-link)
}

.social
{
    background-color : var(--color-white)
}

.social a
{
    color : var(--color-link)
}

.social a:hover , .social a:focus
{
    color : var(--color-white)
}

.skill:hover , .skill:focus ,
.social:hover , .social:focus
{
    transition : all .3s;
    border : none;
    outline : none;
    background : var(--color-hover)
}

/*  aside  */

.sidebar
{
    display: grid;

    width: 100%;
    height: 100%;
    max-height : 1080px;

    background:  var(--color-white);

    grid-area: sidebar;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4.625rem auto 180px
}

.txt-card
{
    display: grid;

    margin: auto;
    padding: 2rem 4rem;

    grid-auto-rows: min-content;
    order: 1
}

.txt-card div
{
    margin-top: .5rem;
    margin-bottom: .5rem
}

.txt-card a
{
    color : var(--color-link)
}

.txt-card a:hover ,
.txt-card a:focus
{
    font-size : 1.5rem;

    padding : 4px 8px;

    cursor : pointer;
    transition : all .3s;
    transform : scale(.1, 1);

    color : var(--color-white);
    border-radius : 45px;
    background : var(--color-hover);
    box-shadow : 0 2px 8px var(--color-shadow)
}

.txt-label
{
    font-variant: small-caps;
    line-height: 4.625rem;

    display: grid;
    display: grid;

    height: 4.625rem;
    padding-left: 4rem;

    letter-spacing: .07rem;

    color: var(--color-label);
    background: var(--color-player-hover);

    order: 2
}

.shot
{
    display: grid;

    user-select: none; 

    order: 3
}

.shot img
{
    width : auto;
    min-height : 20%;

    object-fit: cover
}

/*  radio player  */

.audio-player
{
    display: grid;

    min-height : 20%;
    max-height : 200px;

    text-align: right;

    background: var(--color-player-bg);

    grid-template-columns: auto auto;
    place-items: center;
    order: 4
}

.player-controls
{
    display: grid;

    grid-auto-flow: column;
    place-items: center
}

.player-controls #playAudio
{
    display: grid;

    align-items: center;

    transition : .3s;
    cursor : pointer;

    width: 5rem;
    height: 5rem;

    background-color: var(--color-player);  

    mask: url(../img/play.svg);
    -webkit-mask: url(../img/play.svg);

    mask-image: url(../img/play.svg);
    -webkit-mask-image: url(../img/play.svg)
}

.player-controls #playAudio:hover,
.player-controls #playAudio:focus
{
    transform: scale(1.2);
    background-color: var(--color-player-hover)
}

.player-controls #playAudio:active
{
    background-color: var(--color-player-hover)
}

.player-controls #playAudio.pause
{
    background-color: var(--color-player-hover);     

    mask: url(../img/stop.svg);
    -webkit-mask: url(../img/stop.svg);

    mask-image: url(../img/stop.svg);
    -webkit-mask-image: url(../img/stop.svg)
}

.player-controls #currentTime
{
    font-size: 1.6rem;
    font-variant: small-caps;
    line-height: 1;

    margin: 0 2rem;

    letter-spacing: .04rem;

    color: var(--color-player-time)
}

.audio-info
{
    display: grid;

    line-height: 1;

    color: var(--color-player-info);

    align-items: stretch
}

.audio-info div
{
    font-variant: small-caps;

    margin: 0;
    padding: 0;

    text-align: right;
    letter-spacing: .07rem
}

.track { font-size: 1.4rem }

.track-data { font-size: 2rem }

/*  device  */

@media screen and (max-width: 1024px )

{

.page
{
    grid-template-columns: 1fr;
    grid-template-areas: 
    'main'
    'sidebar'
}

.main
{
    display: grid;

    width: 100%; 
    max-height : 660px;

    grid-template-columns: 1fr;
    order: 1
}

.about
{
    margin : auto;

    justify-items: center;
    align-self: center;    
   
    place-items : center
}

.about div
{
    margin-left : 0
}

.sidebar
{
    display: grid;

    width: 100%;
    max-height : none;

    order: 2
}

.player { padding: 2rem }

}

/*  desktop wild and tv */ 
 
@media screen and (min-width: 1921px)

{

.main
{
    box-shadow : -10px 0 8px -8px var(--color-shadow)
}

.sidebar
{
    box-shadow : 10px 0 8px -8px var(--color-shadow)
}

} 

/*  loader  */

.loader
{
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    margin: auto;

    background: var(--color-loader-bg);

    align-items: center;
    justify-content: center
}

.scanner
{
    font-size: 1.4rem;

    position: relative;

    overflow: hidden;

    color: var(--color-loader)
}

.scanner::before
{
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 0;
    height: 100%;

    content: 'Loading...';
    animation: load 2s linear infinite;

    color: white;
    border-right: 4px solid var(--color-bg)
}

@keyframes load
{
    0%,
    10%,
    100%
    {
        width: 0
    } 

    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100%
    {
        border-right-color: transparent
    } 

    11%,
    21%,
    31%,
    41%,
    51%,
    61%,
    71%,
    81%,
    91%
    {
        border-right-color: white
    } 

    60%,
    80%
    {
        width: 100%
    }
}
